/*.text-field {*/

/*    -fx-text-fill: Black;*/

/*    -fx-opacity: 1;*/
/*    -fx-border-color: Black;*/
/*}*/
.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #555;
    -fx-padding: 6 0 6 12;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255,255,255,0.5);
    -fx-transition: border-color 200ms, -fx-effect 200ms;
    -fx-font-weight: Bold;
    -fx-font-family: "Courier New";
    -fx-font-size: 26;
}

.text-field:focused {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #29b6f6;
    -fx-effect: dropshadow(gaussian, rgba(41,182,246,0.4), 8, 0, 0, 0);
}

#errorField {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: red;
    -fx-opacity: 1;
}

#playButton {
    -fx-background-color: Chartreuse;
    -fx-background-radius: 50%;
    -fx-font-family: "Courier New";
    -fx-font-weight: Bold;
    -fx-border: 40px;
    -fx-border-radius: 50%;
    -fx-border-color: Green;
    -fx-font-size: 36;
}

/* Hover: light glow in Chartreuse */
#playButton:hover {
    -fx-background-color: derive(Chartreuse, 20%);
    -fx-effect: dropshadow(
            gaussian,
            Chartreuse,   /* glow color */
            15,           /* radius */
            0.2,          /* spread */
            0, 0          /* offset x,y */
    );
}

/* Pressed: darker fill + slight “inset” */
#playButton:pressed {
    -fx-background-color: derive(Chartreuse, -20%);
    -fx-translate-y: 1px;
    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.2),
            4,
            0.3,
            0, 1
    );
}
